{{/* gotype: github.com/jwilner/json2go.arrayPlanContext */}}
{{ if .Comment -}}
// {{ .Comment }}
{{ end -}}
type {{ .Type.Name }} []{{ $.QualName .ItemType }}

func (m {{ .Type.Name }}) MarshalJSON() ([]byte, error) {
    if m == nil {
        return []byte(`[]`), nil
    }
    return json.Marshal([]{{ $.QualName .ItemType }}(m))
}
